@model IEnumerable<MVC_Music_Store.Models.Playlist>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Playlists</h2>

<p class="btn btn-default" style="margin-bottom: 2rem;">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlaylistId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlaylistId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlaylistId })
        </td>
    </tr>
}

</table>
