
@{
    ViewBag.Title = "Info";
}

<h1 class="text-center">Chose a category to explore</h1>
<div class="row">
    <div class="col-sm-3">
        <h3>Employees</h3>
        <p class="btn btn-default">To view employees' table click @Html.ActionLink("here", "Index", "Employees")</p>
    </div>
    <div class="col-sm-3">
        <h3>Customers</h3>
        <p class="btn btn-default">To view customers' table click @Html.ActionLink("here", "Index", "Customers")</p>
    </div>
    <div class="col-sm-3">
        <h3>Genres</h3>
        <p class="btn btn-default">To view genres' table click @Html.ActionLink("here", "Index", "Genres")</p>
    </div>
    <div class="col-sm-3">
        <h3>Artists</h3>
        <p class="btn btn-default">To view artists' table click @Html.ActionLink("here", "Index", "Artists")</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <h3>Albums</h3>
        <p class="btn btn-default">To view albums' table click @Html.ActionLink("here", "Index", "Albums")</p>
    </div>
    <div class="col-sm-3">
        <h3>Tracks</h3>
        <p class="btn btn-default">To view tracks' table click @Html.ActionLink("here", "Index", "Tracks")</p>
    </div>
    <div class="col-sm-3">
        <h3>Playlists</h3>
        <p class="btn btn-default">To view playlists' table click @Html.ActionLink("here", "Index", "Playlists")</p>
    </div>
    <div class="col-sm-3">
        <h3>MediaTypes</h3>
        <p class="btn btn-default">To view media types' table click @Html.ActionLink("here", "Index", "MediaTypes")</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <h3>InvoiceLines</h3>
        <p class="btn btn-default">To view invoice lines' table click @Html.ActionLink("here", "Index", "InvoiceLines")</p>
    </div>
    <div class="col-sm-3">
        <h3>Invoices</h3>
        <p class="btn btn-default">To view invoices' table click @Html.ActionLink("here", "Index", "Invoices")</p>
    </div>
</div>

    


